{% extends "layout.html.j2" %}
{% import "_components.html.j2" as ui %}
{% block subject %}{{ invitee_name }} just joined{% endblock %}
{% block content %}
  {{ ui.eyebrow("Invite consumed") }}
  {{ ui.headline(invitee_name ~ " just joined " ~ app_name) }}
  {% call ui.specs() %}
    {{ ui.spec("role", invitee_role) }}
    {% if inviter_name %}{{ ui.spec("invited by", inviter_name) }}{% endif %}
  {% endcall %}
  {{ ui.button(account_url, "Manage users") }}
{% endblock %}
