{% extends "layout.html.j2" %}
{% import "_components.html.j2" as ui %}
{% block subject %}A public link to your files was just downloaded{% endblock %}
{% block content %}
  {{ ui.eyebrow("Public link") }}
  {{ ui.headline("A file from your public link was just downloaded") }}
  {% call ui.specs() %}
    {{ ui.spec("file", filename) }}
    {{ ui.spec("size", size_bytes ~ " bytes") }}
    {{ ui.spec("at", at|dt_locale(locale)) }}
    {% if downloads_remaining is not none %}{{ ui.spec("left", downloads_remaining) }}{% endif %}
  {% endcall %}
  {{ ui.button(share_url, "Manage the link") }}
{% endblock %}
