Hi {{ display_name }},

Welcome to {{ app_name }}. Please confirm your email address by visiting:

{{ verify_url }}

This link expires in 24 hours. If you didn't request this, you can ignore the email.

- {{ app_name }}
