{% extends "layout.html.j2" %}
{% import "_components.html.j2" as ui %}
{% block subject %}{{ invitee_name }} ist beigetreten{% endblock %}
{% block content %}
  {{ ui.eyebrow("Einladung angenommen") }}
  {{ ui.headline(invitee_name ~ " ist " ~ app_name ~ " beigetreten") }}
  {% call ui.specs() %}
    {{ ui.spec("rolle", invitee_role) }}
    {% if inviter_name %}{{ ui.spec("eingeladen von", inviter_name) }}{% endif %}
  {% endcall %}
  {{ ui.button(account_url, "Benutzer verwalten") }}
{% endblock %}
