Hallo {{ display_name }},

Deine {{ app_name }}-Anmelde-E-Mail lautet jetzt:

    {{ new_email }}
{% if oidc_reset %}
Da dein Konto mit einem Single-Sign-On-Anbieter (SSO) verknüpft war, wurde diese Verknüpfung im Zuge dieser Änderung zurückgesetzt. In einer separaten E-Mail wurde ein Link zum Setzen eines Passworts gesendet, damit du dich mit einem Passwort anmelden kannst. SSO kannst du danach in deinen Kontoeinstellungen erneut verknüpfen.
{% endif %}
Hier kannst du dich anmelden:

{{ login_url }}

- {{ app_name }}
