Hallo {{ display_name }},

{% if by_admin %}Ein Administrator hat eine Änderung der E-Mail-Adresse deines {{ app_name }}-Kontos{% else %}Eine Änderung der E-Mail-Adresse deines {{ app_name }}-Kontos wurde{% endif %} von dieser Adresse auf {{ new_email }} angefordert.

Aus Sicherheitsgründen muss diese Änderung von BEIDEN Adressen bestätigt werden - der alten und der neuen. Um sie von dieser (alten) Adresse zu bestätigen, öffne diesen Link:

{{ confirm_url }}

Die Änderung wird erst wirksam, wenn beide Adressen bestätigt haben. Der Link ist 24 Stunden gültig.

Falls du das NICHT angefordert hast, brich es sofort ab:

{{ cancel_url }}

- {{ app_name }}
